{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(@nestjs/(.*)$)|(^@nestjs$)",
    "^next/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@app/(.*)$",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy",
    "classProperties"
  ]
}
