NODE_ENV=development
LOG_LEVEL=debug
PORT=3001

FRONTEND_URL=http://localhost:3000
APP_NAME=Boilerplate API
APP_LOGO_URL=https://yourplatform.com/logo-dark.png
APP_ADDRESS=<your_company_address>

# database
DB_HOST=<your_database_host>
DB_PORT=<your_database_port>
DB_USERNAME=<your_database_username>
DB_PASSWORD=<your_database_password>
DB_NAME=<your_database_name>

# JWT
JWT_ACCESS_SECRET=<your_access_secret>  
JWT_REFRESH_SECRET=<your_refresh_secret>
JWT_ACCESS_EXPIRES_IN=<your_access_expires_in>
JWT_REFRESH_EXPIRES_IN=<your_refresh_expires_in>
JWT_TEMP_2FA_SECRET=<your_temp_2fa_secret>
JWT_TEMP_2FA_EXPIRES_IN=<your_temp_2fa_expires_in>

# cookies
COOKIE_REFRESH_TOKEN_EXPIRES_IN=<your_cookie_refresh_token_expires_in>

ENCRYPTION_KEY=<your_encryption_key>

# Redis
REDIS_HOST=<your_redis_host>
REDIS_PORT=<your_redis_port>
REDIS_PASSWORD=<your_redis_password>

# CORS
CORS_ORIGIN=http://localhost:3000,http://localhost:3001

# MAIL
MAILTRAP_PASS=<your_mailtrap_password>
MAILTRAP_USER=<your_mailtrap_user>
GMAIL_PASS=<your_gmail_password>
GMAIL_USER=<your_gmail_user>
MAIL_ACCOUNT=<your_mail_account>